public/build/form.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/screen.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <title>Главная</title>
  </head>
  <body>
    <header>
      <div class="container group"><a href="#" id="logo"></a>
        <div class="login group"><a href="#" class="to_be">Стать жильцом</a><a href="#" class="log">Войти</a><a href="#" class="like_close"></a><a href="#" class="open_search"></a></div>
        <div class="logged hide"><a href="#" class="speed">Поторопить собственников</a>
          <p class="user">Привет, Константин<a href="#" class="logout">Выйти</a></p>
        </div>
      </div>
    </header>
    <div class="add_page">
      <div class="container group">
        <div class="heading group relative">
          <h1>Стать жильцом</h1>
          <div class="return"><a href="#"></a>
            <p>Лучше 100 лет буду искать</p>
          </div>
        </div>
      </div>
      <form id="add_form">
        <div class="step">
          <div class="container group">
            <div class="title_block">
              <p class="title">Шаг 1.</p>
              <p>Выберите профиль для контакта <span>(можете оба, чаты всегда удобнее звонков)</span>
              </p>
            </div>
            <div class="value_block group">
              <input type="checkbox" name="profile[]" value="vk" id="profile1" class="social">
              <label for="profile1" class="vk_label">Вконтакте</label>
              <input type="checkbox" name="profile[]" value="fb" id="profile2" class="social">
              <label for="profile2" class="fb_label">Facebook</label>
            </div>
          </div>
        </div>
        <div class="step not_active">
          <div class="container group">
            <div class="title_block">
              <p class="title">Шаг 2.</p>
              <p>Вы ищите</p>
            </div>
            <div class="value_block group">
              <input type="radio" name="type" value="flat" id="flat1" class="flats">
              <label for="flat1" class="room_type type1">Комнату</label>
              <input type="radio" name="type" value="room" id="flat2" class="flats">
              <label for="flat2" class="room_type type2">Квартиру</label>
            </div>
          </div>
        </div>
        <div class="step not_active">
          <div class="container group">
            <div class="title_block">
              <p class="title">Шаг 3.</p>
              <p>На период в</p>
            </div>
            <div class="value_block group">
              <select name="period">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select> месяц
            </div>
          </div>
        </div>
        <div class="step not_active">
          <div class="container group">
            <div class="title_block">
              <p class="title">Шаг 4.</p>
              <p>С ежемесячной платой <span>(включая все платежи)</span>
              </p>
            </div>
            <div class="value_block group">
              <input type="text" name="summ" value=""> рублей
            </div>
          </div>
        </div>
        <div class="step not_active">
          <div class="container group">
            <div class="title_block">
              <p class="title">Шаг 5.</p>
              <p>Укажите адрес, который вы чаще всего будете посещать <span>(место работы, садик ребёнка, любимый парк, родственники)</span>
              </p>
            </div>
            <div class="value_block group">
              <input type="text" name="address" value="">
            </div>
          </div>
        </div>
        <div class="step not_active">
          <div class="container group">
            <div class="title_block">
              <p class="title">Шаг 6.</p>
              <p>Время в пути <span>(в каком радиусе от этого адреса вы готовы жить)</span>
              </p>
            </div>
            <div class="value_block group">
              <select name="period">
                <option>5</option>
                <option>10</option>
                <option>15</option>
              </select> минут
            </div>
          </div>
        </div>
        <div class="step not_active">
          <div class="container group">
            <div class="title_block">
              <p class="title">Шаг 7.</p>
              <p>Ваши пожелания <span>(что там должно быть для вас)</span>
              </p>
            </div>
            <div class="value_block group">
              <textarea name="comment"></textarea>
            </div>
          </div>
        </div>
        <div class="step">
          <div class="container">
            <p class="mess">Вы можете разместить несколько объявлений с разной локацией и условиями</p>
          </div>
        </div>
        <button type="submit">Разместить объявление</button>
      </form>
    </div>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/steps.js"></script>
  </body>
</html>

public/src/form.jade
extends ./layout/layout

block content
    .add_page
        .container.group
            .heading.group.relative
                h1 Стать жильцом
                .return
                    a(href="#")
                    p Лучше 100 лет буду искать
        form#add_form
            .step
                .container.group
                    .title_block
                        p.title Шаг 1.
                        p Выберите профиль для контакта
                            = ' '
                            span (можете оба, чаты всегда удобнее звонков)
                    .value_block.group
                        input(type="checkbox", name="profile[]", value="vk", id="profile1").social
                        label.vk_label(for="profile1") Вконтакте
                        input(type="checkbox", name="profile[]", value="fb", id="profile2").social
                        label.fb_label(for="profile2") Facebook
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 2.
                        p Вы ищите
                    .value_block.group
                        input(type="radio", name="type", value="flat", id="flat1").flats
                        label(for="flat1").room_type.type1 Комнату
                        input(type="radio", name="type", value="room", id="flat2").flats
                        label(for="flat2").room_type.type2 Квартиру
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 3.
                        p На период в
                    .value_block.group
                        select(name="period")
                            option 1
                            option 2
                            option 3
                        = ' '
                        | месяц
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 4.
                        p С ежемесячной платой
                            = ' '
                            span (включая все платежи)
                    .value_block.group
                        input(type="text", name="summ", value="")
                        = " "
                        | рублей
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 5.
                        p Укажите адрес, который вы чаще всего будете посещать
                            = ' '
                            span (место работы, садик ребёнка, любимый парк, родственники)
                    .value_block.group
                        input(type="text", name="address", value="")
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 6.
                        p Время в пути
                            = ' '
                            span (в каком радиусе от этого адреса вы готовы жить)
                    .value_block.group
                        select(name="period")
                            option 5
                            option 10
                            option 15
                        = ' '
                        | минут
            .step.not_active
                .container.group
                    .title_block
                        p.title Шаг 7.
                        p Ваши пожелания
                            = ' '
                            span (что там должно быть для вас)
                    .value_block.group
                        textarea(name="comment")
            .step
                .container
                    p.mess Вы можете разместить несколько объявлений с разной локацией и условиями
            button(type="submit") Разместить объявление
