public/build/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/screen.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <title>Главная</title>
  </head>
  <body>
    <header>
      <div class="container group"><a href="#" id="logo"></a>
        <div class="login group"><a href="#" class="to_be">Стать жильцом</a><a href="#" class="log">Войти</a><a href="#" class="like_close"></a><a href="#" class="open_search"></a></div>
        <div class="logged hide"><a href="#" class="speed">Поторопить собственников</a>
          <p class="user">Привет, Константин<a href="#" class="logout">Выйти</a></p>
        </div>
      </div>
    </header>
    <div id="search_people">
      <h1>Сервис надёжных<br>жильцов</h1>
      <h2>Аренда квартир и комнат без риелторов</h2>
      <div class="container">
        <form id="search_form" class="group">
          <div class="types group">
            <input type="radio" name="flattype" value="1" id="type1">
            <label for="type1">Квартира</label>
            <input type="radio" name="flattype" value="2" id="type2">
            <label for="type2">Комната</label>
          </div>
          <div class="search group">
            <input type="text" name="address" placeholder="По адресу">
            <button type="submit">Выбрать жильца</button>
          </div>
        </form>
      </div>
    </div>
    <div class="after_posting">
      <div class="container relative">
        <p>Объявление успешно создано. Начинаем привлекать собственников под ваши условия.</p>
        <p>Проверьте, что вам можно писать личные сообщения по указанному контактному профилю.</p><a href="#" class="close_mess"></a>
      </div>
    </div>
    <div id="flats">
      <div class="container group">
        <div class="grid">
          <div class="now_on_site grid_item">
            <div class="like_table">
              <div class="table_cell">
                <p>Сейчас <span>29</span>собственников выбирают жилье
                </p>
              </div>
            </div>
          </div>
          <div class="human grid_item">
            <div class="foto"><img src="images/man1.jpg" alt="" class="img-responsive">
              <div class="your_block">Ваше объявление</div>
            </div>
            <div class="money group">
              <div class="pay">
                <p class="title">Оплата</p>
                <p class="value">120 000 ₽</p>
              </div>
              <div class="time">
                <p class="title">Период</p>
                <p class="value">6 мес.</p>
              </div>
            </div>
            <div class="desc">
              <p>
                Не курю. Рассматриваю однушку
                в пределах ТТК. Готова сразу заехать. Отвечу в ФБ всем :)
                p.s. За хороший ремонт согласна
                на чуть дороже или дольше.
              </p>
            </div><a href="#" class="hide_me hide">Уже заселился,<br>спрячьте меня</a>
            <div class="repeat_links"><a href="#" class="repeat">Возобновить поиск</a><a href="#" class="new">Новое объявление</a></div>
            <div class="links group"><a href="#" class="full fb"><i class="fa fa-facebook"></i></a></div>
          </div>
          <div class="human grid_item">
            <div class="foto"><img src="images/man2.jpg" alt="" class="img-responsive">
              <div class="already">
                <div class="like_table">
                  <div class="table_cell">
                    <p>Уже стал жильцом,<br>вы чуть-чуть не успели<br>:(</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="money group">
              <div class="pay">
                <p class="title">Оплата</p>
                <p class="value">90 000 ₽</p>
              </div>
              <div class="time">
                <p class="title">Период</p>
                <p class="value">3 мес.</p>
              </div>
            </div>
            <div class="desc">
              <p>Сниму квартиру на лето</p>
            </div>
            <div class="links group"><a href="#" class="half vk"><i class="fa fa-vk"></i></a><a href="#" class="half fb"><i class="fa fa-facebook"></i></a></div>
          </div>
          <div class="human grid_item">
            <div class="foto"><img src="images/man3.jpg" alt="" class="img-responsive"></div>
            <div class="money group">
              <div class="pay">
                <p class="title">Оплата</p>
                <p class="value">100 000 ₽</p>
              </div>
              <div class="time">
                <p class="title">Период</p>
                <p class="value">2 мес.</p>
              </div>
            </div>
            <div class="desc">
              <p>
                Нужна просторная двушка.
                Я фрилансер. Желательно ближе к району Власово
              </p>
            </div>
            <div class="links group"><a href="#" class="full vk"><i class="fa fa-vk"></i></a></div>
          </div>
          <div class="human grid_item">
            <div class="foto"><img src="images/man4.jpg" alt="" class="img-responsive"></div>
            <div class="money group">
              <div class="pay">
                <p class="title">Оплата</p>
                <p class="value">120 000 ₽</p>
              </div>
              <div class="time">
                <p class="title">Период</p>
                <p class="value">6 мес.</p>
              </div>
            </div>
            <div class="desc">
              <p>
                Не курю. Рассматриваю однушку
                в пределах ТТК. Готова сразу заехать. Отвечу в ФБ всем :)
                p.s. За хороший ремонт согласна
                на чуть дороже или дольше.
              </p>
            </div>
            <div class="links group"><a href="#" class="full fb"><i class="fa fa-facebook"></i></a></div>
          </div>
          <div class="human grid_item">
            <div class="foto"><img src="images/man5.jpg" alt="" class="img-responsive"></div>
            <div class="money group">
              <div class="pay">
                <p class="title">Оплата</p>
                <p class="value">90 000 ₽</p>
              </div>
              <div class="time">
                <p class="title">Период</p>
                <p class="value">3 мес.</p>
              </div>
            </div>
            <div class="desc">
              <p>Сниму квартиру на лето</p>
            </div>
            <div class="links group"><a href="#" class="half vk"><i class="fa fa-vk"></i></a><a href="#" class="half fb"><i class="fa fa-facebook"></i></a></div>
          </div>
          <div class="human grid_item">
            <div class="foto"><img src="images/man6.jpg" alt="" class="img-responsive"></div>
            <div class="money group">
              <div class="pay">
                <p class="title">Оплата</p>
                <p class="value">100 000 ₽</p>
              </div>
              <div class="time">
                <p class="title">Период</p>
                <p class="value">2 мес.</p>
              </div>
            </div>
            <div class="desc">
              <p>
                Нужна просторная двушка.
                Я фрилансер. Желательно ближе к району Власово
              </p>
            </div>
            <div class="links group"><a href="#" class="full vk"><i class="fa fa-vk"></i></a></div>
          </div>
          <div class="human grid_item">
            <div class="foto"><img src="images/man6.jpg" alt="" class="img-responsive"></div>
            <div class="money group">
              <div class="pay">
                <p class="title">Оплата</p>
                <p class="value">100 000 ₽</p>
              </div>
              <div class="time">
                <p class="title">Период</p>
                <p class="value">2 мес.</p>
              </div>
            </div>
            <div class="desc">
              <p>
                Нужна просторная двушка.
                Я фрилансер. Желательно ближе к району Власово
              </p>
            </div>
            <div class="links group"><a href="#" class="full vk"><i class="fa fa-vk"></i></a></div>
          </div>
        </div><a href="#" class="more_people"></a>
      </div>
    </div>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/steps.js"></script>
  </body>
</html>

public/src/index.jade
extends ./layout/layout

block content
    #search_people
        h1 Сервис надёжных
            br
            | жильцов
        h2 Аренда квартир и комнат без риелторов
        .container
            form#search_form.group
                .types.group
                    input(type="radio", name="flattype", value="1")#type1
                    label(for="type1") Квартира
                    input(type="radio", name="flattype", value="2")#type2
                    label(for="type2") Комната
                .search.group
                    input(type="text", name="address", placeholder="По адресу")
                    button(type="submit") Выбрать жильца
    .after_posting
        .container.relative
            p Объявление успешно создано. Начинаем привлекать собственников под ваши условия.
            p Проверьте, что вам можно писать личные сообщения по указанному контактному профилю.
            a.close_mess(href="#")
    #flats
        .container.group
            .grid
                .now_on_site.grid_item
                    .like_table
                        .table_cell
                            p Сейчас
                                = ' '
                                span 29
                                = ''
                                | собственников выбирают жилье
                .human.grid_item
                    .foto
                        img(src="images/man1.jpg", alt="", class="img-responsive")
                        .your_block Ваше объявление
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 120 000 ₽
                        .time
                            p.title Период
                            p.value 6 мес.
                    .desc
                        p Не курю. Рассматриваю однушку
                            | в пределах ТТК. Готова сразу заехать. Отвечу в ФБ всем :)
                            | p.s. За хороший ремонт согласна
                            | на чуть дороже или дольше.
                    a(href="#").hide_me.hide Уже заселился,
                        br
                        | спрячьте меня
                    .repeat_links
                        a(href="#").repeat Возобновить поиск
                        a(href="#").new Новое объявление
                    .links.group
                        a(href="#").full.fb
                            i.fa.fa-facebook
                .human.grid_item
                    .foto
                        img(src="images/man2.jpg", alt="", class="img-responsive")
                        .already
                            .like_table
                                .table_cell
                                    p Уже стал жильцом,
                                        br
                                        | вы чуть-чуть не успели
                                        br
                                        | :(
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 90 000 ₽
                        .time
                            p.title Период
                            p.value 3 мес.
                    .desc
                        p Сниму квартиру на лето
                    .links.group
                        a(href="#").half.vk
                            i.fa.fa-vk
                        a(href="#").half.fb
                            i.fa.fa-facebook
                .human.grid_item
                    .foto
                        img(src="images/man3.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 100 000 ₽
                        .time
                            p.title Период
                            p.value 2 мес.
                    .desc
                        p Нужна просторная двушка.
                            | Я фрилансер. Желательно ближе к району Власово
                    .links.group
                        a(href="#").full.vk
                            i.fa.fa-vk
                .human.grid_item
                    .foto
                        img(src="images/man4.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 120 000 ₽
                        .time
                            p.title Период
                            p.value 6 мес.
                    .desc
                        p Не курю. Рассматриваю однушку
                            | в пределах ТТК. Готова сразу заехать. Отвечу в ФБ всем :)
                            | p.s. За хороший ремонт согласна
                            | на чуть дороже или дольше.
                    .links.group
                        a(href="#").full.fb
                            i.fa.fa-facebook
                .human.grid_item
                    .foto
                        img(src="images/man5.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 90 000 ₽
                        .time
                            p.title Период
                            p.value 3 мес.
                    .desc
                        p Сниму квартиру на лето
                    .links.group
                        a(href="#").half.vk
                            i.fa.fa-vk
                        a(href="#").half.fb
                            i.fa.fa-facebook
                .human.grid_item
                    .foto
                        img(src="images/man6.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 100 000 ₽
                        .time
                            p.title Период
                            p.value 2 мес.
                    .desc
                        p Нужна просторная двушка.
                            | Я фрилансер. Желательно ближе к району Власово
                    .links.group
                        a(href="#").full.vk
                            i.fa.fa-vk
                .human.grid_item
                    .foto
                        img(src="images/man6.jpg", alt="", class="img-responsive")
                    .money.group
                        .pay
                            p.title Оплата
                            p.value 100 000 ₽
                        .time
                            p.title Период
                            p.value 2 мес.
                    .desc
                        p Нужна просторная двушка.
                            | Я фрилансер. Желательно ближе к району Власово
                    .links.group
                        a(href="#").full.vk
                            i.fa.fa-vk
            a.more_people(href="#")
