public/src/summ.jade
extends ./layout/layout

block content
    .add_page
        .container.group
            .heading.group.relative
                h1 Оплата
                .return
                    a(href="#")
                    p Лучше 100 лет буду искать
        #pay_block
            .container.group
                .text
                    p.bold Ваше объявление размещается на 90 дней, в любой момент его можно скрыть, а также возобновлять поиск неограниченное число раз.
                    p Вы можете разместить несколько объявлений с разной локацией и условиями.
                    .summ
                        p.title Сумма к оплате:
                        span 350 ₽
                    p На эту сумму мы запустим рекламу в Facebook и Instagram, чтобы привлечь подходящих вам собственников.
        form#pay_form
            input(type="hidden", name="summ", value="350")
            button(type="submit") Оплатить и стать жильцом

public/build/summ.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/screen.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <title>Главная</title>
  </head>
  <body>
    <header>
      <div class="container group"><a href="#" id="logo"></a>
        <div class="login group"><a href="#" class="to_be">Стать жильцом</a><a href="#" class="log">Войти</a><a href="#" class="like_close"></a><a href="#" class="open_search"></a></div>
        <div class="logged hide"><a href="#" class="speed">Поторопить собственников</a>
          <p class="user">Привет, Константин<a href="#" class="logout">Выйти</a></p>
        </div>
      </div>
    </header>
    <div class="add_page">
      <div class="container group">
        <div class="heading group relative">
          <h1>Оплата</h1>
          <div class="return"><a href="#"></a>
            <p>Лучше 100 лет буду искать</p>
          </div>
        </div>
      </div>
      <div id="pay_block">
        <div class="container group">
          <div class="text">
            <p class="bold">Ваше объявление размещается на 90 дней, в любой момент его можно скрыть, а также возобновлять поиск неограниченное число раз.</p>
            <p>Вы можете разместить несколько объявлений с разной локацией и условиями.</p>
            <div class="summ">
              <p class="title">Сумма к оплате:</p><span>350 ₽</span>
            </div>
            <p>На эту сумму мы запустим рекламу в Facebook и Instagram, чтобы привлечь подходящих вам собственников.</p>
          </div>
        </div>
      </div>
      <form id="pay_form">
        <input type="hidden" name="summ" value="350">
        <button type="submit">Оплатить и стать жильцом</button>
      </form>
    </div>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/steps.js"></script>
  </body>
</html>
